<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zolat\AuthorityToLeave\Model\Order\HasAuthorityToLeaveInterface"
                type="Zolat\AuthorityToLeave\Model\Order\HasAuthorityToLeave" />
    <preference for="Zolat\AuthorityToLeave\Model\Order\SetAuthorityToLeaveInterface"
                type="Zolat\AuthorityToLeave\Model\Order\SetAuthorityToLeave" />
    <preference for="Zolat\AuthorityToLeave\Model\Quote\HasAuthorityToLeaveInterface"
                type="Zolat\AuthorityToLeave\Model\Quote\HasAuthorityToLeave" />
    <preference for="Zolat\AuthorityToLeave\Model\Quote\SetAuthorityToLeaveInterface"
                type="Zolat\AuthorityToLeave\Model\Quote\SetAuthorityToLeave" />

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="has_authority_to_leave" xsi:type="string">sales_order.has_authority_to_leave</item>
            </argument>
        </arguments>
    </virtualType>
</config>
